@import './mixins';

.header-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;
    @include md {
        
    }
    a {
        width: 100px;
        text-align: center;
    }
}