@import './mixins';

.wrapper {
    min-height: 100vh;
    border: 24px solid pink;
    @include md {
        border: none;
        background-color: pink;
    }
}

.inner-wrapper{
    background-color: white;
    @include md {
        border: 24px solid red;
    }
}

.main-content {
    height: calc(100vh - 200px);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 24px;
}