.wrapper {
    background-color: pink;
    min-height: 100vh;
}

.inner-wrapper{
    background-color: white;
    border: 24px solid red;
}

.main-content {
    height: calc(100vh - 200px);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 24px;
}